/* These styles are for the user's rules */
#add1,#add2,#add3{
    text-align: center;
}
#add1{
    background-color: lightcyan;
}
#add2,#add3{
    background-color: skyblue;
}

@media screen and (min-width: 60em) {
    #add1,#add2,#add3{
        font-size: 3vw;
    }
}
