<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Idaho Eclips: Maps</title>
    <meta name="viewport" content="width=device-width">
    <link type="text/css" rel="stylesheet" href="/project/css/projectsyle.css">
</head>

<body>
    <header id="page-header"></header>
    <nav id="page-nav"></nav>
    <main>
        <div id="page-title">
            <h2>Maps of Solar Eclipse Path</h2>
        </div>
        <div id="content-media">
            <figure class="map-image">
                <picture>
                    <source srcset="/project/media/id_400.jpg 500w, /project/media/id_600.jpg 1400w, /project/media/id_800.jpg 1600w" sizes="(min-width: 20em) 38vw" />
                    <img src="/project/media/id_400.jpg" alt="Map of Solar eclipse path" />
                </picture>
                <figcaption class="image-caption">
                    Path of Solar eclipse in Idaho
                </figcaption>
            </figure>
                <figure class="map-image">
                    <picture>
                        <source srcset="/project/media/whole-us200.jpg 500w, /project/media/whole-us300.jpg 1400w, /project/media/whole-us400.jpg 1600w" sizes="(min-width: 20em) 38vw" />
                        <img src="/project/media/whole-us200.jpg" alt="Map of Solar eclipse path in US" />
                    </picture>
                    <figcaption class="image-caption">
                        Path of Solar eclipse in US
                    </figcaption>
                </figure>
        </div>
        <div id="content-text">
            <p>These Maps Focus on the Idaho area or the eastern United States. these maps and more can also be found at <a href="http://www.eclipse2017.org/2017/maps.htm">Eclipse2017.org</a></p>

        </div>
    </main>
    <footer id="footer-footer">
        <div id="footer-content"></div>

    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/project/scripts/modules.js"></script>
</body>

</html>
