<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>Idaho Eclips: Planning and Persona</title>
        <meta name="viewport" content="width=device-width">
        <link type="text/css" rel="stylesheet" href="/project/css/projectsyle.css">
    </head>

    <body>
        <header id="page-header"></header>
        <nav id="page-nav"></nav>
        <main>
            <div id="page-title">
                <h2>Planning and Persona</h2>
            </div>
            <div id=content-media>

            </div>
            <div id="content-text">

                <p>Locations of Site Principles<br>The video element is located on the what is eclipse page, and the json is used on the rexburg and idaho falls pages<br><br>Project Purpose<br>The project I wish to work on will present the users with information about when where and other information about the upcoming solar eclipse going through America this year.

                <br><br>The Audience<br>
                    The audience for this site will be those wishing to see the astrological event from, business owners in nearby areas to tourist just wanting to see something that rarely happens. They are going to want to know what times the event is happening and which cities will give them the best view of the events, others such as business owners will just want to know when the tourist are coming to plan around the increased business.<br><br>Persona<br>- Store Manager
                    <br>- Jake McMurphy
                    <br>- Store Manager in cell phone store, ensure employees give their best customer service while increasing sales
                    <br>- 33 year old with a Bachelor in Buisness, Maried with three kids
                    <br>- Up to date with latest trends in phones and tablets spending his coureer and around 1-2 hours at home on
                    small elctronics. has to wory about device duribilty due to kids in the house. but likes to show off
                    new thoughts or devices at work and home.
                    <br>- "Have you heard about the new ..."
                    <br><br>WireFrame
                </p>
                <img src="/project/media/smallscn.jpg" alt="small screen outline">
                <img src="/project/media/medscn.jpg" alt="med screen outline">
                <img src="/project/media/largescn.jpg" alt="large screen outline">
            </div>
        </main>
        <footer id="footer-footer">
            <div id="footer-content"></div>

        </footer>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
        <script src="/project/scripts/modules.js"></script>
    </body>
</html>
