<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>Idaho Eclips: Idaho Falls</title>
        <meta name="viewport" content="width=device-width">
        <link type="text/css" rel="stylesheet" href="/project/css/projectsyle.css">
    </head>

    <body>
        <header id="page-header"></header>
        <nav id="page-nav"></nav>
        <main>
            <div id="page-title">
                <h2 id="cityname">Eclipse path for </h2>
            </div>
            <div id="content-media">
                <img class="map-image" src="/project/media/rexmap.jpg" alt="map of rexburg">
            </div>
            <div id="content-text">
                <p id="partialphasestart">Partial Phase Starts<br></p>
                <p id="totalitystart">Totality Starts<br></p>
                <p id="totalitylength">Total Lengh of Totality<br></p>
            </div>
        </main>
        <footer id="footer-footer">
            <div id="footer-content"></div>

        </footer>
        <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
        <script src="/project/scripts/modules.js"></script>
        <script src="/project/scripts/apirex.js"></script>
    </body>
</html>
