<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>Idaho Eclips: Store</title>
        <meta name="viewport" content="width=device-width">
        <link type="text/css" rel="stylesheet" href="/project/css/projectsyle.css">
    </head>

    <body>
        <header id="page-header"></header>
        <nav id="page-nav"></nav>
        <main>
            <div id="page-title">
                <h2>Welcome to the Homepage of Idaho Eclips</h2>
            </div>
            <div id="content-media">
                <img src="/project/media/solarglasses.jpg" alt="sample solar glasses">
            </div>
            <div id="content-text">

            </div>
        </main>
        <footer id="footer-footer">
            <div id="footer-content"></div>

        </footer>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="/project/scripts/modules.js"></script>
    </body>
</html>
