<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>Idaho Eclips: What is Eclips</title>
        <meta name="viewport" content="width=device-width">
        <link type="text/css" rel="stylesheet" href="/project/css/projectsyle.css">
    </head>

    <body>
        <header id="page-header"></header>
        <nav id="page-nav"></nav>
        <main>
            <div id="page-title">
                <h2>What Is an Eclipse?</h2>
            </div>
            <div id=content-media>
                <video src="/project/media/shorteclipseanimation.mp4" class="featured-video" controls preload="metadata"></video>

            </div>
            <div id="content-text">
                <p>Video Source Location: <a href="https://www.youtube.com/watch?v=QFK2gmO1BJ4">rickonami on Youtube</a></p>
                <p>A solar eclipse is a time period when the moon is between the earth and the sun , there are four types of eclipse <br>Total|Moons umbra and penumbra cast on Earth|<br>Partial|Only Moons penumbra cast on Earth|<br>Annular|Moons  antumbra cast on earth only leaving outside ring of sun|<br>Hybrid|Total and Annular occur at same time</p>
            </div>
        </main>
        <footer id="footer-footer">
            <div id="footer-content"></div>

        </footer>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="/project/scripts/modules.js"></script>
    </body>
</html>
