
body {
    margin:0;
    padding: 0;
    background-color: skyblue;
    width: 100%;
}

header{

    margin:0;
    padding: 0;
    width: 100%;
    background-color: burlywood;

}
main{

}
h2{
   font-family: cursive;
}
#content{
    width: 100%;
    display: flex;
    flex-flow: wrap;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    text-align: center;
    font-size: 2.5em;

}
#explanation{
    background-color: floralwhite;
    height: 20em;
}
#samples{
    color: white;
    background-color: black;
    height:24em;
}
#samplepic{
    width: 100%;
}
#code{
    color: white;
    background-color: darkgreen;
    height: 54em;
}
#examples{
    color: white;
    background-color: black;
    height: 24em;
}
#whyimportant{
    color: white;
    background-color: black;
    height: 24em;
}
#catsample{
    align-content: space-around;
}
#title{
    width: 100%;
    text-align: center;
    align-content: center;
}


@media screen and (min-width: 32em)and (max-width: 90em){

}
@media screen and (min-width: 90em){

}
